*{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

body{
  background-color: aquamarine;
  
}
header ul{
  display: flex;
  
}

header ul li{
  list-style: none;
  margin-right: 15px;
}


article{
  width: 100%;
  max-width: 300px;
  margin: auto;
}